aside.menu-area{
    background-color: var(--bg-dark);
    box-shadow: 
    2px 0 10px 0 rgba(0, 0, 0, 0.12),
    2px 0 15px 0 rgba(236, 63, 63, 0.09);
}


.menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 15px;
}
enu a:hover{
    background: linear-gradient(135deg, #aae2f7 0%, #32da6a 100%);
    background: -webkit-gradient(135deg #a8d0df);
}